.spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid hsl(257, 27%, 26%);
  /* margin: 80px auto 80px auto; */
  margin: auto;
  border-top-color: transparent;
  border-right-color: transparent;
  animation: spin 0.5s ease-in-out infinite;
  -webkit-animation: spin 0.5s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
